/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body{    
    font-family: 'Poppins', 'sans-serif';
}
/* header section background color */
.bg-custom-color{
    height: 698px;
    background: #264653;
}
/*purchase button css*/
.btn-honda{
    width: 168px;
    height: 44px;
    background: #E76F51
}
/*horizontal line for featured section css*/
.hr-line{
    border:none;
    width: 58.5px;
    height: 0px;
    border: 2px solid #E76F51;
    border-radius: 1px;
}
.custom-font-color{
    color:#E76F51;
}
 /* gray scale for feature */
 .feature img{
    width: 288px;
    height: 243px;
 }
 .feature-img-one, .feature-img-two{
     filter: grayscale(1);
     -webkit-filter: grayscale(1);
 }
/* client feedback */
.card-img-top{
    width: 149px;
    height: 149px;
}
/*news letter section*/
.home-newsletter {
    padding: 80px 0;
    background: lightslategray;
    }    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    }

/* font awesome icon custom color*/
i{
    color: #E77C40;
}



  
    